
<section class="flex flex-col gap-4">
    <h2 class="text-2xl font-bold text-center">Ang Balak sa Usa ka Putak</h2>
    <div class="italic flex flex-col gap-4 items-center justify-center text-xl">
        <p>
        Sa buntag sayo, manok nga gaputak,<br>
        Nagpaabot sa adlaw, nagsaba'g kalipay,<br>
        Ang iyang tingog, taas kaayo ug kusog,<br>
        Nagpukaw sa tanan, sa mga dalunggan moglok.<br>
        </p>
        <p>
        Gaputak siya diha sa luyo nga kamalig,<br>
        Ang iyang balahibo, malapad ug puti,<br>
        Dungan sa hangin nga bugnaw nga muagi,<br>
        Nagpakita sa kalipay sa kinabuhi.<br>
        </p>
        <p>
        "Tak-tak-tak," iyang pag-awit nga halangdon,<br>
        Sa mga saksi, kining manok nga maisugon,<br>
        Dili mahadlok bisan asa ang iya'ng agian,<br>
        Nagpahinumdom nga ang buntag may kagawasan.<br>
        </p>
        <p>
        Bisan unsa ang ulan, hangin, o adlaw,<br>
        Manok nga gaputak, dili gyud mapugngan,<br>
        Usa ka simbolo sa kinabuhi nga madasigon,<br>
        Sa kabuntagon nga naghatag ug paglaom.<br>
        </p>
    </div>
</section>

<section class="flex flex-col gap-4 justify-center text-xl mt-10">
    <h3 class="font-bold text-2xl">Mahitungod</h3>
    <p>
        Usa ka yano nga social media app diin ang tanan mahimong mopahayag sa ilang hunahuna, sama sa putak-putak sa manok nga walay pagduha-duha. Dili na kinahanglan mag-login, igo lang mosulod ug mag-share dayon sa imong mga ideya o gibati, sama sa manok nga gaputak matag kabuntagon.
    </p>
    <h3 class="font-bold">Mga Kinaiya sa App:</h3>
    <ul class="list-inside list-disc">
        <li class="">Walay Login: Dili kinahanglan mag-register o mag-login; dali lang ang pag-share sa imong mensahe.</li>
        <li class="">Anonimong Putak: Pwede ka mopahayag sa bisan unsang ideya o hunahuna nga walay pangalan.</li>
        <li class="">Mag-expire kada-adlaw: Ang mga putak naa ray isa ka adlaw nga limit para makita dayun mawala ra.</li>
    </ul>
    <p>Isulti ang imong mensahe ug ipahayag ang imong hunahuna – bisan pa walay maminaw, ang imong mga pulong libre nga mag-putak-putak!</p>
</section>
