<section class="py-2">
    <p class="text-center text-lg">I-share imo hunahuna ug gibati (putak). Di na kailangan mag-login ug ang mga putak mag-expire kada-adlaw.</p>
</section>

<section id="top" class="flex flex-col gap-4">
    <!-- uses *ngFor directive -->
    <app-comment-form (formSubmitted)="createComment($event)"></app-comment-form>

</section>
<section class="flex flex-col gap-4">
    <h2 class="text-3xl font-bold text-center pt-4">Mga Putak Karon Adlawa {{dateFormatted()}}</h2>
    <!-- uses *ngFor directive -->
     <div *ngFor="let comment of comments()" class="border-b border-amber-800 pb-4 px-2">
         <app-comment [comment]="comment"></app-comment>
        
     </div>

</section>

<section class="mt-10 text-center">
    <h4 class="text-lg italic mb-2">Niabot na ka sa ulahi!</h4>
    <a href="#top" class="border border-amber-800 px-4 py-1 rounded-full">Balik sa taas 🔝</a>
</section>