<section class="py-2 my-4">
    <p class="text-center text-lg">I-share imo hunahuna ug gibati (putak). Di na kinahanglan mag-login, ug ang mga putak mag-expire kada alas 12 sa kadlawon. Human ana, mawala na ang putak hantod sa kahantoran sama sa putak sa usa ka manok nga malimtan ra.</p>
</section>

<section id="top" class="flex flex-col gap-1">
    @if(isSending()){
        <div class="my-4 flex flex-col gap-2 shadow-lg rounded px-2 py-4">
            <h3 class="text-center text-2xl py-5 text-amber-800">Ginasend...</h3>
        </div>
    }
    @else {
        <app-comment-form (formSubmitted)="createComment($event)"></app-comment-form>
    }

</section>
<section class="flex flex-col gap-4">
    <div>
        <h2 class="text-3xl font-bold text-center pt-4">Mga Putak Karon Adlawa {{dateFormatted()}}</h2>
        <app-countdown></app-countdown>
    </div>

     @if(isLoading()){
        <app-loader></app-loader>
     } 
     @else {
         @if(comments().length === 0){
             <p class="text-center text-lg p-10 border rounded-sm text-red-800">Wala pay mga Putak karon. Pag-buhat ug bag-ong Putak!</p>
         }
         @else {
                <!-- uses *ngFor directive -->
             <div *ngFor="let comment of comments()" class=" pb-4 px-2">
                 <app-comment [comment]="comment"></app-comment>
                
             </div>
         }
     }

</section>

<section class="mt-10 text-center">
    <h4 class="text-lg italic mb-2">Niabot na ka sa ulahi!</h4>
    <a href="#top" class="border border-amber-800 px-4 py-1 rounded-full">Balik sa taas 🔝</a>
</section>