<form
    class="my-4 flex flex-col gap-2 shadow-lg rounded px-2 py-4"
    (submit)="formSubmit($event)"
>
    @if(buttonText === 'I-putak'){
        <p class="text-lg font-bold text-amber-950">Pagbuhat ug bag-ong putak!</p>
    }
    
    <textarea
        name="commentText"
        id=""
        rows="3"
        class="w-full border border-amber-800 rounded-md px-3 py-1.5"
        [placeholder]="placeholder"
        required
    ></textarea>

    <div class="flex flex-col items-end">
        <button   
        type="submit"
        class="inline-block rounded bg-amber-800 py-1.5 px-5 text-sm font-medium text-white transition hover:rotate-2 hover:scale-110 focus:outline-none focus:ring active:bg-amber-500"
        >
        {{ buttonText }}
        </button>
    </div>

</form>
